body {
    background-image: url(images/background-crows.jpg);
}

h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 32px;
    color: crimson;
}

h2 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 24px;
    color: crimson;    
}

h3 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px;
    color: crimson;    
}

p {
    font-family: Helvetica, sans-serif; 
    font-size: 16px;
    color: white;
}

#header {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 0 10px;
    margin-bottom: 10%;
}

#nav-title {
    text-align: center;
    padding: 10px 0;
}

.nav-item {
    float: left;
    margin: 0 15px;
    padding: 10px;
    text-align: center;
}

/*Side Bar*/
#side-bar {
  background-color: rgba(0, 0, 0, .7); 
  padding: 2%;
}

#side-bar-text {
    text-align: center;
}

#side-bar img {
    margin: 2%;
}

/*ABOUT Page*/

#main-body {
    background-color: rgba(0, 0, 0, .0);
}

#content-section {
    background-color: rgba(0, 0, 0, .7);
    padding: 2%;
}

/*Footer*/

#footer {
    background-color:  rgba(0, 0, 0, .7);
    margin-top: 10%;
    padding: 1% 0;
}

#copyright {
    text-align: center;
}