/*Site-wide Elements*/

body {
    background-image: url(images/background-crows.jpg);
}

h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 32px;
    color: crimson;
}

h2 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 24px;
    color: crimson;    
}

h3 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px;
    color: crimson;    
}

p {
    font-family: Helvetica, sans-serif; 
    font-size: 16px;
    color: white;
}

img {
    border: 1px solid #2F2828;
}

#header {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 0 10px;
    margin-bottom: 10%;
}

#nav-title {
    text-align: center;
    padding: 10px 0;
}

.nav-item {
    float: left;
    margin: 0 15px;
    padding: 10px;
    text-align: center;
}

#navbar {
    margin-bottom: 30px;
}

/*Side Bar*/
#side-bar {
  background-color: rgba(0, 0, 0, .7); 
  padding: 2%;
  height: 200px;
}

#side-bar-text {
    text-align: center;
}

#side-bar img {
    margin: 2%;
    width: 28%;
}

/*ABOUT Page*/

#main-body {
    background-color: rgba(0, 0, 0, .0);
}

#content-section {
    background-color: rgba(0, 0, 0, .7);
    padding: 2%;
    margin-left: 2%;
}

#content-section img {
    height: 400px;
    margin-bottom: 2%;
}

/*PORTFOLIO*/


#cyoa-pic {
    height: 200px;
    background: url(images/cyoa.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

#hanged-pic {
    height: 200px;
    background: url(images/hanged.jpg) center no-repeat;    
    background-size: 100% 100%;
    margin: 10px;
}

#rpg-pic {
    height: 200px;
    background: url(images/rpg.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
    }

#trivia-pic {
    height: 200px;
    background: url(images/trivia.jpg) center no-repeat;    
    background-size: 100% 100%;    
    margin: 10px;
}

#horror-pic {
    height: 200px;
    background: url(images/horror.jpg) center no-repeat;    
    background-size: 100% 100%;    
    margin: 10px;
    }

#monster-pic {
    height: 200px;
    background: url(images/monster.jpg) center no-repeat;    
    background-size: 100% 100%;    
    margin: 10px; 
}

[id$="pic"] a p {
    margin-top: 150px; 
    padding: 10px;
    text-align: center;
    background-color: crimson;
    font-weight: bold;
}

[id$="pic"] a {
    text-decoration: none;
}

/*Contact*/

label {
    color: white;
}

#content-section {
    margin-bottom: 20px;
}

/*Footer*/

#footer {
    background-color:  rgba(0, 0, 0, .7);
    margin-top: 10%;
    padding: 1% 0;
}

#copyright {
    text-align: center;
}



